altair==5.2.0
matplotlib==3.7.1
matplotlib==3.8.1
numpy==1.25.1
pandas==2.0.3
plotly==5.9.0
plotly==5.18.0
prophet==1.1.5
pydeck==0.8.1b0
pyecharts==2.0.4
streamlit==1.24.1
streamlit==1.28.1
streamlit_echarts==0.4.0
